body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 0;
}

.tesla {
  text-align: center;
}
.tesla img {
  margin-top: 20px;
  width: 20%;
}
.paypal {
  text-align: center;
}
.paypal img {
  margin-top: 20px;
  width: 20%;
}
